# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries

*.dylib


# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a

# Executables
*.exe
*.out
*.app
Stratwenty

# QT grabage & other
*.bkp
*.user
*.qmake
*qmake*


# Personal files
*.png
*.obj
*.ogg
*.wav
*.blend*
*.svg
